:root{
  --bg:#0b0b0b;
  --card:#161616;
  --text:#f1f1f1;
  --muted:#9a9a9a;
  --accent:#d6b15a;
}

*{box-sizing:border-box}
body{
  margin:0;
  font-family:system-ui;
  background:var(--bg);
  color:var(--text);
}

.topbar{
  padding:16px 20px;
  background:#000;
  display:flex;
  justify-content:space-between;
  border-bottom:1px solid #222;
}

.container{
  padding:20px;
  display:grid;
  gap:20px;
}

.card{
  background:var(--card);
  padding:16px;
  border-radius:14px;
}

.card h2{
  margin:0 0 10px;
  color:var(--accent);
}

table{
  width:100%;
}

td,th{
  padding:8px;
  text-align:left;
}

input{
  width:100%;
  padding:6px;
  border-radius:8px;
  border:none;
}

.total{
  text-align:center;
}

#resultado{
  font-size:2rem;
  margin:10px 0;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:12px;
  background:var(--accent);
  font-weight:bold;
  cursor:pointer;
}
